<body data-decimal-separator="," data-grouping-separator=".">

<div role="navigation" aria-label="jumplinks" class="accessibility">
    <a href="#formheadline">Zum Inhalt springen</a>
</div>

<header aria-labelledby="bannerheadline">
  <a [routerLink]="['/overview']" queryParamsHandling="merge">
        <img class="title-image" src="../../assets/big-logo-small.png" title="BIG Smart Production Logo" alt="BIG Smart Production Logo">
    </a>
    <h1 class="header-title" id="bannerheadline">
        BIG Smart Production
    </h1>
    <nav aria-labelledby="navigationheadline">
        <h2 class="accessibility" id="navigationheadline">Navigation</h2>
        <ul class="navigation-list">
            <li class="overflow-icon">
                <a href="#" class="button" accesskey="1">☰</a>
            </li>
            <li class="nav-items">
                <ul>
                    <li><a [routerLink]="['/overview']" class="button" queryParamsHandling="merge">Übersicht</a></li>
                    <li><a [routerLink]="['/home']" class="button" queryParamsHandling="merge">Abmelden</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<div class="main-container">
    <main aria-labelledby="formheadline">
        <form class="form form-horizontal" (ngSubmit)="saveSettings()" #passwordForm="ngForm">
            <h2 id="formheadline" class="options-headline">Passwort ändern</h2>
            <div class="form-row">
                <label class="form-label" for="old-password-input">Altes Passwort</label>
                <input [(ngModel)]="credentials.oldPassword" type="password" class="form-input" name="oldPassword" id="old-password-input"
                       placeholder="Altes Passwort" required autocomplete="current-password">
            </div>
            <div class="form-row">
                <label class="form-label" for="new-password-input">Neues Passwort</label>
                <input [(ngModel)]="credentials.newPassword" type="password" class="form-input" name="newPassword" id="new-password-input"
                       placeholder="Neues Passwort" required minlength="8" maxlength="12"
                       autocomplete="new-password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12}"
                       title="8-12 Zeichen, jeweils mindestens ein Großbuchstabe, Kleinbuchstabe und eine Zahl">
            </div>
            <div class="form-row">
                <label class="form-label" for="repeat-password-input">Passwort wiederholen</label>
                <input [(ngModel)]="newPassword" type="password" class="form-input" name="newPasswordRepeat" id="repeat-password-input"
                       placeholder="Neues Passwort wiederholen" required minlength="8" maxlength="12"
                       autocomplete="new-password">
            </div>
            <div class="form-row form-row-center">
                <button [disabled]=!passwordForm.valid id="save-changes-button" class="button button-submit">Änderung speichern</button>
            </div>
            <span [hidden]="!showError" style="color:red"> Passwörter stimmen nicht überrein </span>
            <span [hidden]="!showWrongPassword" style="color:red"> Altes Passwort falsch! </span>
            <span [hidden]="!showSuccess" style="color:green"> Passwort erfolgreich geändert</span>
        </form>
    </main>
</div>

<footer>
    © 2018 <abbr title="Business Informatics Group">BIG</abbr> Smart Production
</footer>
</body>
