<body data-decimal-separator="," data-grouping-separator=".">

  <div role="navigation" aria-label="jumplinks" class="accessibility">
    <a href="#diagramheadline">Zum Inhalt springen</a>
  </div>

  <header aria-labelledby="bannerheadline">
    <a [routerLink]="['/overview']" queryParamsHandling="merge">
      <img class="title-image" src="assets/biglogosmall.png" title="BIG Smart Production Logo" alt="BIG Smart Production Logo">
    </a>
    <h1 class="header-title" id="bannerheadline">
      BIG Smart Production
    </h1>
    <nav aria-labelledby="navigationheadline">
      <h2 class="accessibility" id="navigationheadline">Navigation</h2>
      <ul class="navigation-list">
        <li class="overflow-icon">
          <a href="#" class="button" accesskey="1">☰</a>
        </li>
        <li class="nav-items">
          <ul>
            <li>
              <a [routerLink]="['/options']" class="button" queryParamsHandling="merge">Optionen</a>
            </li>
            <li>
              <a [routerLink]="['/home']" class="button" queryParamsHandling="merge" (click)="logout()">Abmelden</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <div class="main-container">
    <aside class="elements" aria-labelledby="elementsheadline" aria-hidden="true">
      <h2 id="arrowsheadline">Verfügbare Verbindungen</h2>
      <ul class="arrow-list">
        <li class="arrow" id="arrow-sidebar-add" aria-labelledby="connector" tabindex="0" title="Verbindung">
          <dl class="arrow-properties">
            <dt class="accessibility">Elementtyp</dt>
            <dd id="connector" class="arrow-type">Verbindung</dd>
          </dl>
          <div class="arrow-image">
            <svg width="72px" height="20px">
              <defs>
                <marker id="arrow-marker-side" markerWidth="10" markerHeight="10" refY="4" orient="auto">
                  <path d="M0,0 L0,8 L8,4 z" class="arrow-marker"></path>
                </marker>
              </defs>
              <path d="M0,10 L70,10" class="arrow-path" marker-end="url(#arrow-marker-side)"></path>
            </svg>
          </div>
        </li>
      </ul>
      <h2 id="elementsheadline">Verfügbare Elemente</h2>
      <ul id="devices" class="device-list draggables">
        <li *ngFor="let device of devices.devices" app-available-device [data]="device"></li>
      </ul>
    </aside>

    <main aria-labelledby="diagramheadline">
      <div class="diagram-header">
        <h2 class="main-headline" id="diagramheadline">Produktionskette</h2>
        <div id="counter" class="diagram-header-right">
          <span class="devices-counter">0</span> Elemente -
          <span class="arrows-counter">0</span> Pfeile -
          <span class="product-counter">0</span> Produkte
        </div>
      </div>

      <app-diagram [arrowAdd]="arrowAddRef"></app-diagram>


    </main>
  </div>

  <footer>
    © 2018
    <abbr title="Business Informatics Group">BIG</abbr> Smart Production
  </footer>


  <div id="arrow-device-add-reference" class="arrow-device-add">
    <svg width="18px" height="8px">
      <defs>
        <marker id="arrow-marker-add" markerWidth="10" markerHeight="10" refY="4" orient="auto">
          <path d="M0,0 L0,8 L8,4 z" class="arrow-marker"></path>
        </marker>
      </defs>
      <path d="M0,4 L16,4" class="arrow-path" marker-end="url(#arrow-marker-add)" style="stroke-width: 1px"></path>
    </svg>
  </div>

  <div class="contextMenu">
    <ul>
      <li>
        <a href="#" class="contextView">
          <img class="device-edit" src="images/edit.png" alt="Gerät anzeigen"> Detailseite
        </a>
      </li>
      <li>
        <a href="#" class="contextDelete">
          <img class="device-remove" src="images/remove.png" alt="Gerät löschen" /> Löschen
        </a>
      </li>
    </ul>
  </div>

  <script src="scripts/jquery.js"></script>
  <script src="scripts/jquery-ui.min.js"></script>
  <script src="scripts/device-resources.js"></script>
  <script src="scripts/device-updating-states.js"></script>
  <script src="scripts/model-arrow.js"></script>
  <script src="scripts/model-controls.js"></script>
  <script src="scripts/model-counter.js"></script>
  <script src="scripts/model-device.js"></script>
  <script src="scripts/model-diagram.js"></script>
  <script src="scripts/init.js"></script>
</body>
